<ion-toolbar style="padding: 5px; " color="primary">
  <img style="float: left; width: 24px; height: 24px; margin-left: 5px;" src="./assets/icon/help_white.png" />
  <ion-title>Tutorial</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" color="secondary" style="float: right;">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding color="light">

  <ion-slides id="tutorSlides" [options]="slideOpts" scrollbar="true">
    <ion-slide>
      <div>
        <img width="auto" height="auto" style="padding: 2px;" src="./assets/tutorials/chap_dnd.gif" />
        <h3>Tap on an Arrow OR use the Drag-and-Drop feature to add Symbols</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img width="auto" height="auto" style="padding: 2px;" src="./assets/tutorials/chap_sym_props.gif" />
        <h3>Double-Tap on a Symbol to open their Properties </h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img width="auto" height="auto" style="padding: 2px;" src="./assets/tutorials/chap_delete.gif" />
        <h3>Press and Hold a Symbol to Delete the Symbol</h3>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer id="tutor_modal_footer" color="primary">
  <ion-button (click)="prevSlide()" color="dark" full style="float: left;"> &lt; </ion-button>
  <ion-button (click)="nextSlide()" color="dark" full style="float: right;"> &gt; </ion-button>
</ion-footer>