#output_modal_footer{ background-color: #333; }

#output_modal_footer ion-button{
    float: right;
    color: #ddd;
    background-color: #333;
}

ion-label{ color: #000; font-style: bold; }

input, #output_expression { color: #000; padding: 5px; background: #fff; }

#output_sym{
    background: #b8de6f;
    -webkit-clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
    clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
    border-radius: 0 25px 25px 0;
    width: 70px; height: 35px;
    text-align: center; vertical-align: middle;
    line-height: 35px;
    color: #000;
    font-size: 8pt;
    margin-left: 0; float: left;
}
