<ion-toolbar style="padding: 5px; " color="secondary">
  <div id="output_sym">Output</div>
  <ion-title style="float: left;">Output Properties</ion-title>
</ion-toolbar>

<ion-content padding color="primary">

  <ion-item>
    <ion-label>Enter an expression to Output on console: </ion-label>
  </ion-item>

  <ion-item>
    <textarea id="output_expression" rows="5"></textarea>
  </ion-item>

</ion-content>

<ion-footer id="output_modal_footer" color="dark">
  <ion-button (click)="closeModal()" color="dark" full>Cancel</ion-button>
  <ion-button (click)="closeModal()" color="dark" full >Apply</ion-button>
</ion-footer>
