#about_modal_footer{ background-color: #333; }

#about_modal_footer ion-button{
  float: right;
  color: #ddd;
  background-color: #333;
}

#p_about{
  padding: 5px;
  background-color: #ddd;
  white-space: pre-wrap; 
  color: #000; 
}