#promptAS ion-list ion-item {
  font-size: 12pt;
}

#promptAS ion-list {
  background-color: #A9B1B4;
  color: #000000;
}
#promptAS ion-list ion-item:hover{
  background-color: #333;
  color: #ddd;
  cursor: pointer;
}

#promptAS {
  display: flex;
  vertical-align: middle;
}