<ion-toolbar>
  <ion-title>Declare Properties</ion-title>
</ion-toolbar>

<ion-content padding>
 <!-- {{sid}} -->

  <ion-label>Variable Name: </ion-label>
  <input type="text" value=""> <hr/>

  <ion-label>Data Type: </ion-label>
  <ion-select value="integer" ok-text="Okay" cancel-text="Dismiss">
    <ion-select-option value="integer">Integer</ion-select-option>
    <ion-select-option value="float">Float</ion-select-option>
    <ion-select-option value="string">String</ion-select-option>
    <ion-select-option value="boolean">Boolean</ion-select-option>
  </ion-select> <hr/>

  <div >
    <ion-checkbox style="float: left; margin-left: 10px;"></ion-checkbox> 
    <ion-label style="float: left; margin-left: 10px;">Array?</ion-label>
  </div>
  
  
  <input type="text" placeholder="Array Size" value="" style="float: left; margin-left: 10px;">

</ion-content>

<ion-footer>
  <ion-button (click)="closeModal()">Close</ion-button>
</ion-footer>
