<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'> -->

<!-- <div id="innerPHP"></div> -->

<ion-card id="loginMainCard">
  <ion-toolbar style="padding: 5px;" color="primary">
    <img style="float:left; width: 50px; height: 50px; margin-left: 10px; padding: 5px;"
      src="./assets/icon/chap_logo.png" />
    <ion-label style="display: flex; font-size: 24pt; justify-content: center; padding-top: 8px;">Welcome to CHAP
    </ion-label>
  </ion-toolbar>

  <!--  action="./chap_ums/socket.php" method="POST" -->

  <ion-content padding color="secondary">
    <form [formGroup]="loginForm">
      <div>
        <ion-button formControlName="facebook" shape="round" slot="start" expand="block" style="--background: #3B5998;">
          <ion-icon name="logo-facebook"></ion-icon>
          &nbsp; Login with Facebook
        </ion-button>
        <ion-button formControlName="google" shape="round" slot="start" expand="block" style="--background: #D44638;">
          <ion-icon name="logo-google"></ion-icon>
          &nbsp; Login with Gmail
        </ion-button>
        <ion-button formControlName="linkedin" shape="round" slot="start" expand="block" style="--background: #0077B5;">
          <ion-icon name="logo-linkedin"></ion-icon>
          &nbsp; Login with LinkedIn
        </ion-button>
      </div>

      <ion-label style="display: flex; font-size: 12pt; justify-content: center; padding: 20px;" color="primary">
        - OR -
      </ion-label>

      <div>
        <ion-item>
          <ion-input formControlName="email" id="email" placeholder="E-mail Address" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="passwordbox" id="passwordbox" placeholder="Password" type="password"></ion-input>
        </ion-item>
        <ion-button formControlName="btn1LOG" id="btn1LOG" style="padding: 10px 0;" expand="block">Log In</ion-button>
      </div>

      <div>
        <ion-icon name="arrow-dropright" color="primary" style="size: 16px;"></ion-icon> &nbsp;
        <ion-label color="primary" style="font-size: 14pt">Don't have an account? &nbsp;</ion-label>
        <ion-button formControlName="btn" id="btn" color="medium" style="padding: 10px 0;" expand="block">Sign Up
        </ion-button>
      </div>
    </form>
  </ion-content>
</ion-card>

<!-- [disabled]="!loginForm.valid" -->