<ion-toolbar style="padding: 5px; " color="primary">
  <div id="process_sym">Process</div>
  <ion-title style="float: left; margin: 5.5px;">Process Properties</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">

  <ion-item color="primary">
    <ion-icon name="information-circle" style="color: #dddddd;"></ion-icon> &nbsp;
    <ion-text style="color: #dddddd; padding: 10px;">
      Carries out arithmetic operations using basic mathematical operators
    </ion-text>
  </ion-item>

  <ion-item color="primary">
    <ion-input type="text" id="process_tooltip_info" value="{{toolTipInfoText}}" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-input id="process_var_name" type="text" placeholder="Variable" value="" class="process_elements"
      data-text="Enter a variable to assign a value to"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="text-align: center;">=</ion-label>
  </ion-item>

  <ion-item>
    <ion-input id="process_expression" type="text" placeholder="Expression" value="" style="float: left; "
      class="process_elements" data-text="Enter an expression or value to assign to the variable"></ion-input>
  </ion-item>

</ion-content>

<ion-footer id="process_modal_footer" color="dark">
  <ion-button (click)="closeModal()" color="dark" full>Cancel</ion-button>
  <ion-button (click)="applyAndCloseModal()" color="dark" full>Apply</ion-button>
</ion-footer>