<ion-header>
  
</ion-header>

<ion-toolbar color="secondary">
    <ion-title>Symbols Palette</ion-title>
    <ion-button (click)="closeModal($event)">Close</ion-button>
  </ion-toolbar>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let s of symbols">
            <ion-card padding id="{{s.cardID}}" (click)="addSymbol(s.id, $event)">
                    <!-- style="cursor: pointer;" -->
                <p>{{s.s_name}}</p>
                <div id="{{s.id}}" class="draggable" draggable="true" contenteditable="true" ondragstart="startDrag" ondragend="endDrag"></div>
                </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>
