<ion-toolbar style="padding: 5px; " color="primary">
  <div id="input_sym">Input</div>
  <ion-title style="float: left; margin: 5.5px;">Input Properties</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">

  <ion-item>
    <ion-label>Enter a variable name to input: </ion-label>
  </ion-item>

  <ion-item>
    <ion-input id="input_var_name" value=""></ion-input>
  </ion-item>

</ion-content>

<ion-footer id="input_modal_footer" color="dark">
  <ion-button (click)="closeModal()" color="dark" full>Cancel</ion-button>
  <ion-button (click)="applyAndCloseModal()" color="dark" full>Apply</ion-button>
</ion-footer>