<ion-toolbar style="padding: 5px; " color="primary">
  <ion-icon name="school" style="color: #b40615; float: left; width: 24px; height: 24px; margin-left: 5px;">
  </ion-icon>
 
  <ion-title>CHAP Tutorials</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" color="secondary" style="float: right;">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding color="secondary">
<ion-list>
  <ion-item>
    <p style="overflow: visible;"><b>Exercise {{exercises[0].exer_id}}:</b> {{exercises[0].description}} </p>
    <ion-button id="level1" color="success" (click)="applyAndCloseModal(0)">Start</ion-button>
  </ion-item>
  <ion-item>
    <p ><b>Exercise {{exercises[1].exer_id}}:</b> {{exercises[1].description}} </p>
    <ion-button id="level2" color="success" (click)="applyAndCloseModal(1)">Start</ion-button>
  </ion-item>
  <ion-item>
    <p ><b>Exercise {{exercises[2].exer_id}}:</b> {{exercises[2].description}} </p>
    <ion-button id="level3"color="success" (click)="applyAndCloseModal(2)">Start</ion-button>
  </ion-item>
  <ion-item>
    <p ><b>Exercise {{exercises[3].exer_id}}:</b> {{exercises[3].description}} </p>
    <ion-button id="level4" color="success" (click)="applyAndCloseModal(3)">Start</ion-button>
  </ion-item>
  <ion-item>
    <p ><b>Exercise {{exercises[4].exer_id}}:</b> {{exercises[4].description}} </p>
    <ion-button id="level5"color="success" (click)="applyAndCloseModal(4)">Start</ion-button>
     
  </ion-item>
</ion-list>
  

  

</ion-content>

<ion-footer  >
  <div  style=" height: 40px; color: black;"></div><!-- <ion-button (click)="prevSlide()" color="dark" full style="float: left;"> &lt; Previous </ion-button>
  <ion-button (click)="nextSlide()" color="dark" full style="float: right;"> Next &gt; </ion-button> -->
</ion-footer>