<ion-toolbar style="padding: 5px; " color="primary">
  <ion-icon name="school" style="color: #b40615; float: left; width: 24px; height: 24px; margin-left: 5px;">
  </ion-icon>
 
  <ion-title>CHAP Tutorials</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" color="secondary" style="float: right;">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding color="secondary">
<ion-list>
  <ion-item>
    <ion-label ><b>Level 1:</b>Display “Hello World” with using OUTPUT SYMBOL<br> on  CHAP.</ion-label>
    <ion-button id="level1" color="success">Start</ion-button>
  </ion-item>
  <ion-item>
    <ion-label ><b>Level 2:</b>Get two integers from user and display summation <br> on console with using CHAP.</ion-label>
    <ion-button  id="level2" color="success">Start</ion-button>
  </ion-item>
  <ion-item>
    <ion-label ><b>Level 3:</b>Get one integer number from user and check if <br>entered number is odd or  even as an output on  console with <br>using CHAP.</ion-label>
    <ion-button  id="level3"color="success">Start</ion-button>
  </ion-item>
  <ion-item>
    <ion-label ><b>Level 4:</b>Display 4 times “HELLO CHAP” as an output with<br> using For Loop.</ion-label>
    <ion-button  id="level4" color="success">Start</ion-button>
  </ion-item>
  <ion-item>
    <ion-label ><b>Level 5:</b>Display numbers from 1 to 10 both number is <br> included as an output with  using WHILE LOOP.</ion-label>
    <ion-button  id="level5"color="success">Start</ion-button>
     
  </ion-item>
</ion-list>
  

  

</ion-content>

<ion-footer id="tutor_modal_footer" color="dark">
  <!-- <ion-button (click)="prevSlide()" color="dark" full style="float: left;"> &lt; Previous </ion-button>
  <ion-button (click)="nextSlide()" color="dark" full style="float: right;"> Next &gt; </ion-button> -->
</ion-footer>