<ion-header>
  
</ion-header>
<ion-content>
   <!-- New navbar -->
   <nav class="navbar navbar-expand-sm nav_background navbar-dark">
    <a class="navbar-brand" href="#" style="font-weight: bolder;">CHAP</a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link pad" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a id="w_tutorial" class="nav-link openModal pad">Tutorials</a>
        
      </li>
      <li class="nav-item">
      
        <a id="w_about" class="nav-link openModal pad">About Us</a>
        
      </li>
      <li class="nav-item">
        <a  class="nvbr" href="https://www.youtube.com/channel/UCW-vpW8Nlwo9m8nYP5NP1mQ">Follow Us On &nbsp;<img  style="width: 30px; height: 30px;" src="assets/img/portfolio/ytb.png" alt="" /></a>
         
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        

      </li>
      &nbsp; &nbsp;
      <li class="nav-item active">
        
      </li>
      &nbsp; &nbsp;
      <li class="nav-item">
        
        <button type="button" id="w_chapTrial" class="button">
          <b>Click Here To Try CHAP Free</b>
        </button> 
      
      </li>
    </ul>
  </nav>
  <!-- New navbar -->
  <div class="mt">
    <div class="container">
      <div class="row">
      <div class="col centered">
        <img class="img-responsive" src="assets/img/portfolio/introV2.gif" style="height: 350px;" alt="" /> 
        
       <!--  <img src="assets/cover_page/logo/chaplogo.png" class="text-center pointer"  alt="Image" /> <span class="text-right"> <button type="button" class="button" id="w_chapTrial" ><b>Click Here To Try CHAP Free</b></button></span> -->
      </div>
      </div>  
      <div class="row">
       
      
       <div class="col-sm-12 text-center">
        <h1><b style="font-family: sans-serif;">Welcome To CHAP</b></h1>
      </div>
      
  </div> 
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3><b style="font-family: sans-serif;" class="text-primary" >A SMART FLOWCHART PROGRAM FOR LEARNING PROGRAMMING CONSTRUCTS</b></h3>
      </div>
    </div>
      <div class="container pt">
        <div class="row">
          <div class="col-sm-12 text-center"><h3>Supported By</h3></div>
        </div>
      <div class="row mt centered">
    
    <div class="col">
      <img class="img-responsive" src="assets/img/portfolio/windows.png" alt="" />
    </div> 
    <div class="col">
      <img class="img-responsive" src="assets/img/portfolio/linux.png" alt="" /> 
    </div>
    <div class="col ">
      <img class="img-responsive" src="assets/img/portfolio/mac.png" alt="" />
    </div>
    <div class="col ">
      <img class="img-responsive" src="assets/img/portfolio/androidlogo.png" alt="" />
    </div>
  </div>
  </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <span ><h4>Definitions of Symbols & Examples</h4></span>
      </div>
    </div>
  </div>

  <div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/portfolio/declare.PNG" alt="" />

       <p>  A declaration of a variable is where a program creates a variable.
        For smaller programs, the declaration statements are placed between the two braces of the "main" method.
        The declaration statement initializes a name and a data type for the variable.
        It may also ask that a particular value be placed in the variable.&emsp; <b><a class="text-dark" href="https://youtu.be/RNWXNApNLmw">See More Example</a></b></p>
			
			</div>
			<div class="col-lg-4">
			<img class="img-responsive" src="assets/img/portfolio/process.PNG" alt="" />
				<p>Mainly used for assign data to a variable and operate mathematical applicaiton  </p>
			</div>
			<div class="col-lg-4">
			<img class="img-responsive" src="assets/img/portfolio/input.PNG" alt="" />
				<p>Input allows user to enter verious type of data to run application. </p>
			</div>
		</div><!-- /row -->
		<div class="row mt centered">	
			<div class="col-lg-4">
			<img class="img-responsive" src="assets/img/portfolio/output.PNG" alt="" />
				<p>Data that genereated by applicaiton and display user</p>
			</div>
			<div class="col-lg-4">
		<img class="img-responsive" src="assets/img/portfolio/if.PNG" alt="" />
        <p>
          The If statement allows a user to control if a program
              enters a section of code or not, based on whether a given condition
              is TRUE or FALSE. One of the important functions of the If
              statement is that it allows the program to select an action based
              on the user's input.&emsp; <b><a class="text-dark" href="https://www.youtube.com/watch?v=LGNPoiWJ5t0">See More Example</a></b>
        </p>
				
			</div>
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/portfolio/for.PNG" alt="" />
				<p>  In computer science, a For-Loop is a control statement for specifying iterations,
          which allow code to be executed repeatedly. Various keywords used to specify this statement:
          descendants of ALGOL use "for", while descendants of Fortran use "do".&emsp; <b><a class="text-dark" href="https://www.youtube.com/watch?v=kD4Mu2a-jWs">See More Example</a></b></p>
			</div>

		</div><!-- /row -->
		<div class="row mt centered text-center">	
			<div class="col-lg-4">
				<img class="img-responsive" src="assets/img/portfolio/whll.PNG" alt="" />
				<p>In most computer programming languages, a While Loop
          is a control flow statement that allows code to be executed
          repeatedly, based on a given Boolean condition.
          The While Loop can be thought of as a repetitive If statement.&emsp;<b><a class="text-dark" href="https://www.youtube.com/watch?v=1lKDkBqeKww">See More Example</a></b></p>
			</div>
			<div class="col-lg-4">
			<img class="img-responsive" src="assets/img/portfolio/dowl.PNG" alt="" />
				<p>  In most computer programming languages, a Do-While
          loop is a control flow statement that executes a block of code at
          least once, and then either repeatedly executes the block, or
          stops executing it, depending on a given boolean condition at the
          end of the block.&emsp; <b><a class="text-dark" href="https://www.youtube.com/watch?v=yzoOkj0GvkY">See More Example</a></b></p>
			</div>
			
			
		</div><!-- /row -->
	</div><!-- /container -->
  
  <div id="footer">
		<div class="container">
			<div class="row"> 

      </div>
    </div>
  </div>
  
</ion-content>