// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js";
// @import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Remove the navbar's default margin-bottom and rounded borders */
/* .navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  color: white;
}
*/
*{ font-family: 'Roboto', 'Lato', 'Raleway', 'Oswald', sans-serif; }
/* Add a gray background color and some padding to the footer */
.logo_size {
  width: 80px;
  height: 70px;
}
.nav_background {
  background-color: black;
}
/* Make the image fully responsive */
/* .carousel-inner img {
  width: 100%;
  height: 100%;
} */

.welcomeModal {
  height: 90%;
  // --max-height: max-content;
}
.pointer {cursor: pointer;}
.button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 300px;
  height: 50px;
  transition-duration: 0.3s;
background: darkorange;
color: rgba(8, 5, 2, 0.843);
border-radius: 10px;
}

.button:hover {
 //background-image:"assets/icon/btn1try.png "; /* Green */
 color: ghostwhite;
  
}
.signup{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  background: darkorange;
  color: rgba(8, 5, 2, 0.843);
 
}
.login {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(68, 240, 68);
  width: 150px;

}
.logoclor{
  position: relative;
  color: red;
  width: 30px;
  height: 30px;
  top:10px;
  padding-left: 5px;
}
.seemore{

 padding-left: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.arrowICO{
  top:1px;
  position: relative;
}