@charset "utf-8";
/* CSS Document */

body {
	}
	 #apDiv1 {
	position:static;
	top:35px;
	width:300px;
	height:145px;
	z-index:1;
	margin: auto;
	margin-left: 4.2cm;
}
 
 #apDiv3 {
	position:absolute;
	left:293px;
	top:200px;
	width:209px;
	height:41px;
	z-index:2;
	
 }
 /*************************************************************/
	.CONTAINER
{
	width: 480px;
	height: 640px;
	margin: auto;
	background-color: #333333;
	border-radius: 20px;
		}
	.BANNER{
		height:4cm;
		padding-left:10px;
		padding-top:20px;
		
		}	
	.logo{
	float:left;
	width: auto;
		}
	.LOGOSIZE{
		width:150px;
		height:150px;
		
		}	
	.title{
		font-size: 28px;
	font-family: "Yu Gothic UI Semibold";
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	
	color: #F0F0F0;
		}
	.username_surnameDIV{
	padding-top:10px;
	background-color:#BBBBBB;
	padding-left:1cm;
	padding-right:1cm;

		}
	.USRNMTXTBX{
	width:4cm;
	height:9mm;
	border-radius:20px;
	border:none;
	display: inline;
	margin-left:1cm;
	text-align: center;
	font-size: 17px;
	font-family: "Yu Gothic UI Semibold";
	}	
	.SURNAME{
	width:4cm;
	height:1cm;
	border-radius:20px;
	border:none;
	display: inline;
	padding:left;
	}	
	.genderDIV{
	background-color:#BBBBBB;
	padding-left:2.4cm;
	padding-right:1cm;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	height:1.5cm;
			
		
		}
		.GNDRTXTfmll{
	display: inline;
	padding-left:0cm;
			
			}
			.GNDRTXTmll{
	display: inline;
			
			}
			.countryDIV{
				display: inline;
				
				
				
				}
			.COUNTYFLD{
	width:8cm;
	height:9mm;
	border-radius:20px;
	border:none;
	padding-left: 0cm;
				}
		.emailpassDIV{
			
			background-color:#BBBBBB;
			
		
			padding-left:2.4cm;
			}
			.emailDIV{
				display: inline;
				
				
				}
				.email{
	width:8cm;
	text-align: center;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 20px;
	height: 9mm;
	font-style: normal;
				
				}
			.passwordDIV{
				display: inline;
				}
				.PASS{
	width:8cm;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 20px;
	height: 9mm;
	font-style: normal;
	text-align: center;
					}
				.confirmpassDIV{
					display: inline;
					}				
				.CNFRMPASS{
	width:8cm;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 28px;
	height: 9mm;
	text-align: center;
	font-style: normal;
					}
	.BUTTONDIV{
		background-color:#BBBBBB;
			height:1.5cm;
			padding-left:3cm;
			
		}
	.BUTTON1{
display: inline;

		}
	.BUTTONFLD{
		width:7cm;
		height:1cm;
		font-family: "Yu Gothic UI Semibold";
	font-size:15px;
	border: none;
	margin-top: 5px;
	border-radius: 28px;
	height: 10mm;
	text-align: center;
	font-style: normal;
	color: #DDDDDD;
	background-color: #333333;
		
		}
	.BUTTONFLD:hover{
		width:7cm;
		height:1cm;
	background-color: #DDDDDD;
	border:none;
	font-size: 15px;
	font-family: "Yu Gothic UI Semibold";
	color: #333333;
		
		}
		.backtologin{
		
				background-color:#BBBBBB;
			font-family: "Yu Gothic UI Semibold";
			color: #333333;
			text-decoration:none;
			/*padding-left:9.4cm;*/
			background-color:#BBBBBB;
			
			/*width:480px;*/
			}	
		.bactologinDIV{
			background-color:#BBBBBB;
			height:0.9cm;
			padding-left:8.8cm;
			}
			.emailvalidationerror{
	font-size:9px;
	font-family: "Yu Gothic UI Semibold";
	text-color: #900;
			}
/***********MOBILE CSS DESIGN********************/
	

@media (min-width: 320px) and (max-width: 480px) {
  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  
  body {
	}
	 #apDiv1 {
	position:static;
	top:auto;
	width:auto;
	
	z-index:1;
	margin: auto;
	
}
 
 
 
 /*******************************************************************************************/
	.CONTAINER
{
	width: 95%;
	
	 margin: auto;
	background-color: #333333;
	border-radius: 10px;
		}
	.BANNER{
		height:2cm;
		padding-left:10px;
		padding-top:20px;
		
		}	
	.logo{
	float:left;
	width: auto;
		}
		.LOGOSIZE{
		width:2cm;
		height:1.5cm;
		
		}	
	.title{
		font-size: 22px;
	font-family: "Yu Gothic UI Semibold";
	text-align: center;
	padding-top: 0.4cm;
	padding-bottom: 45px;
	
	color: #F0F0F0;
		}
	.username_surnameDIV{
		
		padding-top:10px;
		background-color:#BBBBBB;
		padding-left:1cm;
		padding-right:1cm;

		}
	.USRNMTXTBX{
	width:3cm;
	height:9mm;
	border-radius:20px;
	border:none;
/*	display: inline;*/
	margin-left:1%;
	text-align: center;
	font-size: 17px;
	font-family: "Yu Gothic UI Semibold";
	
		}	
		.SURNAME{
			width:4cm;
	height:1cm;
	border-radius:20px;
	border:none;
	/*display: inline;*/
	
	}	
	.genderDIV{
		
		
		background-color:#BBBBBB;
		padding-left:1cm;
		padding-right:1cm;
		font-family: "Yu Gothic UI Semibold";
			font-size:17px;
			height:1.5cm;
			
		
		}
		.GNDRTXTfmll{
	display: inline;
	padding-left:3%;
			
			}
			.GNDRTXTmll{
	display: inline;
	padding-left:0cm;
			
			}
			.countryDIV{
				display: inline;
				
				
				
				}
			.COUNTYFLD{
	width:100%;
	height:9mm;
	border-radius:20px;
	border:none;		
		margin-left:1%;		
				}
		.emailpassDIV{
			
			background-color:#BBBBBB;
			
		
			padding-left:1%;
			}
			.emailDIV{
				display: inline;
				
				
				}
				.email{
	width:100%;
	text-align: center;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 20px;
	height: 9mm;
	font-style: normal;
				
				}
			.passwordDIV{
				display: inline;
				}
				.PASS{
	width:100%;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 20px;
	height: 9mm;
	font-style: normal;
	text-align: center;
					}
				.confirmpassDIV{
					display: inline;
					}				
				.CNFRMPASS{
	width:100%;
	font-family: "Yu Gothic UI Semibold";
	font-size:17px;
	border: none;
	margin-top: 5px;
	border-radius: 28px;
	height: 9mm;
	text-align: center;
	font-style: normal;
					}
	.BUTTONDIV{
		background-color:#BBBBBB;
			height:2cm;
			padding-left:2%;
			padding-right:2%;
			
		}
	.BUTTON1{
display: inline;

		}
	.BUTTONFLD{
		width:100%;
		height:1.5cm;
		font-family: "Yu Gothic UI Semibold";
	font-size:15px;
	border: none;
	margin-top: 10px;
	border-radius: 28px;

	text-align: center;
	font-style: normal;
	color: #DDDDDD;
	background-color: #333333;
		
		}
	.BUTTONFLD:hover{
			width:100%;
		height:1.5cm;
		font-family: "Yu Gothic UI Semibold";
	font-size:15px;
	border: none;
	margin-top: 10px;
	border-radius: 28px;

	text-align: center;
	font-style: normal;
	color: #333333;
		
		}
		.backtologin{
		
				background-color:#BBBBBB;
			font-family: "Yu Gothic UI Semibold";
			color: #333333;
			text-decoration:none;
			/*padding-left:9.4cm;*/
		
			
			/*width:480px;*/
			}	
		.bactologinDIV{
			background-color:#BBBBBB;
			height:0.6cm;
			padding-left:60%;
			}
  
}
.emailvalidationerror{
	font-size:9px;
	font-family: "Yu Gothic UI Semibold";
	color: #900;
	text-color: #900;
	font-style: normal;
}