<ion-toolbar style="padding: 5px; " color="primary">
  <ion-icon name="folder-open" style="float: left; width: 24px; height: 24px; margin-left: 0; padding-left: 10px;">
  </ion-icon>
  <ion-title style="float: left;">Upload Project File</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">

  <ion-item>
    <ion-label> Upload a CHAP project (.chap) file to open a project </ion-label>
  </ion-item>

  <div id="fileDropzone">
    <span>{{dropzoneText}}</span>
    <ion-button (click)="openLocalChap()" color="dark" full class="{{currentPlatform}}">Choose CHAP Project File
    </ion-button>
  </div>

</ion-content>

<ion-footer id="openFile_modal_footer" color="dark">
  <ion-button (click)="closeModal()" color="dark" full>Cancel</ion-button>
  <ion-button (click)="applyAndCloseModal()" color="dark" full>Open File</ion-button>
</ion-footer>