<ion-toolbar style="padding: 5px; " color="secondary">
  <img style="float: left; width: 24px; height: 24px; margin-left: 0;" src="./assets/icon/code-white.png"/>
  <ion-title style="float: left;">Code Viewer</ion-title>
</ion-toolbar>

<ion-content padding color="primary">

  <ion-item>
    <ion-label>Language: </ion-label>
    <ion-select id="prog_lang" [value]="" [(ngModel)]="programmingLang" ok-text="Confirm" cancel-text="Cancel" (ionChange)="changeCode()">
      <ion-select-option value="PseudoCode"> <img src="./assets/icon/pseudocode.png" alt="Pseudo Code"> Pseudo Code</ion-select-option>
      <ion-select-option value="C++"> <img src="./assets/icon/cplusplus.png" alt="C++"> C++</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <div id="codeLineNumbers">{{lineNumbers}}</div>
    <p style="margin-left: 5px;">{{displayCode}}</p>
  </ion-item>

</ion-content>

<ion-footer id="code_modal_footer" color="dark">
  <ion-button (click)="closeModal()" color="dark" full>Close</ion-button>
  <!-- <ion-button (click)="applyAndCloseModal()" color="dark" full >Apply</ion-button> -->
</ion-footer>
