.symbol { touch-action: none; transition: all 0.3s; }
.symbol.switch-bg { border: #f40; }
.symbol.large { -webkit-transform: scale(1.25); transform: scale(1.25); }
.rotate { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.symbolPromptAS {
  width: 150px;
  
}
#infoPrompt {
  // width: 75%;
  display: none;
  justify-content: center;
  background-color: #aaaaaa;
  position: absolute;
  top: 75%;
  z-index: 1;
  left: 36.5%;
  min-width: max-content;
  padding: 15px;
  opacity: 0.5;
}

#fileName {
  background-color: black;
  color: #ddd;
  text-align: start;
  text-indent: 5px;
  border-radius: 6px;
  padding: 5px 0;
  height: 60%;
  min-width: auto;
  max-width: 350px;
}

// Tooltips
#toolbar-tooltip {
  background-color: #333333;
  color: #ddd;
  // border: 2px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 60%;
  width: 150px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext, .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #ddd;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 105%;
  // left: 50%;
  // margin-left: -60px;
}

// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }

/* SYMBOLS Tooltip */
// #toolbar-tooltip {
//   background-color: black;
//   color: #ddd;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   height: 60%;
//   width: 150px;
// }
.s_tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}
.s_tooltip .s_tooltiptext, .s_tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #ddd;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 2px;
  //right: 105%;
  left: 50%;
  margin-left: -60px;
}
.s_tooltip:hover .s_tooltiptext {
  visibility: visible;
}

// Console & Console Buttons
#consoleInput{
  background-color: #333; color: #ddd; 
  font-family: Consolas, monaco, monospace; 
  resize: none; width: 100%; padding: 2px; float: left;
}
.toggleConsole {
  display: none;
  margin-bottom: 0px;
}
#consoleBtns {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

// Symbols FAB & List
#symbolsTitle {
  display: none;
  background-color: #333333;
  color: #ddd;
  padding: 5px; 
  width: 100px; 
  height: 30px; 
  justify-content: center;
}

#symbolsFAB {
  position: absolute;
  bottom: 0px; left: 0px;
}
#symbolsList {
  display: none;
  // display: block;
  position: relative;
  resize: none;
  background-color: #ddd;
  font-family: Consolas, monaco, monospace; 
  padding: 10px;
  // top: 10px;
  // bottom: 10px;
}
.scrollbar {
	height: 360px; width: 90px;
	overflow-y: scroll;
  direction: rtl;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #ddd;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #ddd;
} 
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #333;
}

// SYMBOLS CSS
#control_loop_list{ display: none; }

.if_div, .while_div, .for_div, .do_while_div{
  display: grid;
  // grid-template-columns: repeat(5, 70px);
  grid-template-columns: max-content 70px max-content 70px max-content;
  align-items: center;
  justify-content: center;
}

// If, While, For, Do While DIVS
.if_div {
  display: grid;
  grid-template-columns: max-content 70px max-content 70px max-content;
}
.while_div {
  display: grid;
  grid-template-columns: max-content 70px max-content 70px max-content;
}
.for_div {
  display: grid;
  grid-template-columns: max-content 70px max-content 70px max-content;
}
.do_while_div {
  display: grid;
  grid-template-columns: max-content 70px max-content 70px max-content;
}

.ifFalseBlock, .ifTrueBlock, 
.forFalseBlock, .forTrueBlock,
.whileFalseBlock, .whileTrueBlock,
.doWhileFalseBlock, .doWhileTrueBlock {
  // display: flex;
  min-width: 70px;
  width: max-content;
  min-height: 35px;
  height: max-content;
  align-content: center;
  // justify-content: center;
  margin: auto;
}

.ifFalseBlock > div, .ifTrueBlock > div, 
.forFalseBlock > div, .forTrueBlock > div,
.whileFalseBlock > div, .whileTrueBlock > div,
.doWhileFalseBlock > div, .doWhileTrueBlock > div { 
  margin: auto; 
}

ion-card{
  width: 105px; height: 105px;
  padding-top: 0%; margin: 0 0 5px 0;
  background-color: #F8F8F8;
}

#fabSymbols{
  padding: 5px; font-size: 8pt;
  width: 80px; height: 45px;
  background-color: rgba(255, 255, 255, 0);
}

ion-row{ float: left; overflow-y: hidden; padding: 0; }

.symbols-div{ 
  width: 100%; height: 120px;
  background-color: rgba(187, 195, 199, 0.904);
  overflow-x: hidden; margin: 0;
}

.arrows { 
  // width: 70px;
  width: max-content;
  min-width: 70px;
  max-width: 180px;
  height: max-content;
  min-height: 35px;
  cursor: pointer; color: #F8F8F8;
  margin: auto;
}

.symbol, .arrow{ 
  // width: 70px;
  width: max-content;
  min-width: 70px;
  max-width: 180px;
  height: max-content;
  min-height: 35px;
  max-height: 105px;
  // white-space: pre;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  // vertical-align: middle;
  align-content: center;
  justify-content: center;
  // line-height: 1.5;
  // line-height: normal;
  font-size: 8pt;
  color: #000000; cursor: pointer;
  margin: auto;
}

#s_start, #s_stop{
  background: #fe547b;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}
#s_declare{
  background-image: url("/assets/icon/declare.png");
  // background-size: 70px 35px;
  background-size: 100% 100%;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
#s_input{
  background: #01c5c4;
  // -webkit-clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  // clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 12.3px, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 12.3px, 100% 0, 100% 100%, 0% 100%);
  padding-top: 13.5px;
}
#s_output{
  background: #b8de6f;
  // -webkit-clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
  // clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(17.5px 0, 0 50%, 17.5px 100%, 100% 100%, 100% 0);
  clip-path: polygon(17.5px 0, 0 50%, 17.5px 100%, 100% 100%, 100% 0);
  border-radius: 0 25px 25px 0;
  text-indent: 5px;
  padding: 5px;
}
#s_process{
  background: #f39233;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
#s_if_case{
  background: #f1e189;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  padding: 15%;
}
#s_for_loop, #s_while_loop, #s_do_while_loop{
  background: #9C93E2;
  -webkit-clip-path: polygon(52.5px 0, 100% 17.5px, 100% 100%, 0 100%, 0 17.5px, 17.5px 0);
  clip-path: polygon(52.5px 0, 100% 17.5px, 100% 100%, 0 100%, 0 17.5px, 17.5px 0);
  // -webkit-clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
  // clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
}
#s_terminator{
  background: #ffffff;
  -webkit-clip-path: circle(50% at 50% 50%); clip-path: circle(50% at 50% 50%);
  width: 35px; height: 35px; margin: auto;
}
#s_comment{
  background: #dddddd;
  -webkit-clip-path: inset(0 0 0 0); clip-path: inset(0 0 0 0);
  border: 2px dashed #888888; color: #888888;
}

// ARROWS
.arrow{
  background: #000000;
  -webkit-clip-path: polygon(35% 80%, 45% 80%, 45% 0, 55% 0, 55% 80%, 65% 80%, 50% 100%);
  clip-path: polygon(35% 80%, 45% 80%, 45% 0, 55% 0, 55% 80%, 65% 80%, 50% 100%);
  margin: auto;
}

#arrow_up{
  background: #000000;
  -webkit-clip-path: polygon(50% 0, 35% 15%, 45% 15%, 45% 100%, 55% 100%, 55% 15%, 65% 15%);
  clip-path: polygon(50% 0, 35% 15%, 45% 15%, 45% 100%, 55% 100%, 55% 15%, 65% 15%);
}

#arrow_left{
  background: #000000;
  -webkit-clip-path: polygon(0 50%, 15% 25%, 15% 40%, 100% 40%, 100% 60%, 15% 60%, 15% 75%);
  clip-path: polygon(0 50%, 15% 25%, 15% 40%, 100% 40%, 100% 60%, 15% 60%, 15% 75%);
}

#arrow_right{
  background: #000000;
  -webkit-clip-path: polygon(0 40%, 0 60%, 85% 60%, 85% 75%, 100% 50%, 85% 25%, 85% 40%);
  clip-path: polygon(0 40%, 0 60%, 85% 60%, 85% 75%, 100% 50%, 85% 25%, 85% 40%);
}

#arrow_up_left{
	background: #000000;
	-webkit-clip-path: polygon(0 50%, 15% 65%, 15% 55%, 45% 55%, 45% 100%, 55% 100%, 55% 45%, 15% 45%, 15% 35%);
	clip-path: polygon(0 50%, 15% 65%, 15% 55%, 45% 55%, 45% 100%, 55% 100%, 55% 45%, 15% 45%, 15% 35%);
}

#arrow_down_left{
	background: #000000;
	-webkit-clip-path: polygon(15% 35%, 0 50%, 15% 65%, 15% 55%, 55% 55%, 55% 0, 45% 0, 45% 45%, 15% 45%);
	clip-path: polygon(15% 35%, 0 50%, 15% 65%, 15% 55%, 55% 55%, 55% 0, 45% 0, 45% 45%, 15% 45%);
}

#arrow_up_right {
	background: #000000;
	-webkit-clip-path: polygon(100% 50%, 85% 35%, 85% 45%, 45% 45%, 45% 100%, 55% 100%, 55% 55%, 85% 55%, 85% 65%);
	clip-path: polygon(100% 50%, 85% 35%, 85% 45%, 45% 45%, 45% 100%, 55% 100%, 55% 55%, 85% 55%, 85% 65%);
}

#arrow_down_right {
	background: #000000;
	-webkit-clip-path: polygon(100% 50%, 85% 35%, 85% 45%, 55% 45%, 55% 0, 45% 0, 45% 55%, 85% 55%, 85% 65%);
	clip-path: polygon(100% 50%, 85% 35%, 85% 45%, 55% 45%, 55% 0, 45% 0, 45% 55%, 85% 55%, 85% 65%);
}

#arrow_left_up { background: #000000;
	-webkit-clip-path: polygon(50% 0, 40% 15%, 45% 15%, 45% 60%, 100% 60%, 100% 40%, 55% 40%, 55% 15%, 60% 15%);
  clip-path: polygon(50% 0, 40% 15%, 45% 15%, 45% 60%, 100% 60%, 100% 40%, 55% 40%, 55% 15%, 60% 15%);
}

#arrow_left_down { background: #000000;
	-webkit-clip-path: polygon(40% 85%, 50% 100%, 60% 85%, 55% 85%, 55% 60%, 100% 60%, 100% 40%, 45% 40%, 45% 85%);
  clip-path: polygon(40% 85%, 50% 100%, 60% 85%, 55% 85%, 55% 60%, 100% 60%, 100% 40%, 45% 40%, 45% 85%);
}

#arrow_right_up { background: #000000;
	-webkit-clip-path: polygon(50% 0, 40% 15%, 45% 15%, 45% 40%, 0 40%, 0 60%, 55% 60%, 55% 15%, 60% 15%);
  clip-path: polygon(50% 0, 40% 15%, 45% 15%, 45% 40%, 0 40%, 0 60%, 55% 60%, 55% 15%, 60% 15%);
}

#arrow_right_down {	background: #000000;
	-webkit-clip-path: polygon(40% 85%, 50% 100%, 60% 85%, 55% 85%, 55% 40%, 0 40%, 0 60%, 45% 60%, 45% 85%);
  clip-path: polygon(40% 85%, 50% 100%, 60% 85%, 55% 85%, 55% 40%, 0 40%, 0 60%, 45% 60%, 45% 85%); 
}

#arrows_line_up {	background: #000000;
  -webkit-clip-path: polygon(20% 0, 20% 100%, 30% 100%, 30% 0, 75% 0, 65% 25%, 70% 25%, 70% 100%, 80% 100%, 80% 25%, 85% 25%, 75% 0);
  clip-path: polygon(20% 0, 20% 100%, 30% 100%, 30% 0, 75% 0, 65% 25%, 70% 25%, 70% 100%, 80% 100%, 80% 25%, 85% 25%, 75% 0);
}

#arrows_down_down_right {	background: #000000;
  -webkit-clip-path: polygon(80% 0, 80% 40%, 100% 40%, 100% 60%, 70% 60%, 70% 0, 30% 0, 30% 75%, 35% 75%, 25% 100%, 15% 75%, 20% 75%, 20% 0);
  clip-path: polygon(80% 0, 80% 40%, 100% 40%, 100% 60%, 70% 60%, 70% 0, 30% 0, 30% 75%, 35% 75%, 25% 100%, 15% 75%, 20% 75%, 20% 0);
}

#arrow_horizontal {	background: #000000;
  -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
}

// Arrow Resizing
.arrowPiece {
  min-width: 70px;
  display: grid;
  grid-template-columns: 17.5px 35px 17.5px;
}
.arrow_left{
  background: #000000;
  -webkit-clip-path: polygon(0 50%, 25% 25%, 25% 40%, 100% 40%, 100% 60%, 25% 60%, 25% 75%);
  clip-path: polygon(0 50%, 25% 25%, 25% 40%, 100% 40%, 100% 60%, 25% 60%, 25% 75%);
  width: max-content;
  min-width: 17.5px;
}
.arrow_right{
  background: #000000;
  -webkit-clip-path: polygon(0 40%, 0 60%, 75% 60%, 75% 75%, 100% 50%, 75% 25%, 75% 40%);
  clip-path: polygon(0 40%, 0 60%, 75% 60%, 75% 75%, 100% 50%, 75% 25%, 75% 40%);
  width: max-content;
  min-width: 17.5px;
}
.arrow_horizontal {	
  background: #000000;
  -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  width: max-content;
  // min-width: 17.5px;
}