// SYMBOLS CSS
ion-card{
  width: 105px;
  height: 105px;
  padding-top: 0%;
  margin: 0 0 5px 0;
  background-color: #F8F8F8;
}

#fabSymbols{
  padding: 5px;
  font-size: 8pt;
  width: 80px;
  height: 45px;
  background-color: #F8F8F8;
}

ion-row{
  float: left;
  overflow-y: hidden;
  padding: 0;
}

.symbols-div{ 
  width: 100%; 
  height: 120px;
  background-color: rgba(187, 195, 199, 0.904);
  overflow-x: hidden;
  margin: 0;
}

.arrows { 
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.symbol, .arrow{ 
  width: 70px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  cursor: pointer;
}

#s_start, #s_stop{
  background: #fe547b;
  -webkit-clip-path: ellipse(50% 50% at 50% 50%);
  clip-path: ellipse(50% 50% at 50% 50%);
}
#s_input{
  background: #01c5c4;
  -webkit-clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
}
#s_output{
  background: #b8de6f;
  -webkit-clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
  clip-path: polygon(25% 0, 0 50%, 25% 100%, 100% 100%, 100% 0);
  border-radius: 0 25px 25px 0;
}
#s_operation{
  background: #f39233;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
#s_if_case{
  background: #f1e189;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#s_for_loop, #s_while_loop, #s_do_while_loop{
  background: #999999;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
  clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
}
#s_terminator{
  background: #ffffff;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.arrow{
  background: #000000;
  -webkit-clip-path: polygon(35% 80%, 45% 80%, 45% 0, 55% 0, 55% 80%, 65% 80%, 50% 100%);
  clip-path: polygon(35% 80%, 45% 80%, 45% 0, 55% 0, 55% 80%, 65% 80%, 50% 100%);
}

// ARROWS



#left_arrow{
  background: #000000;
  -webkit-clip-path: polygon(15% 0, 15% 35%, 100% 35%, 100% 65%, 15% 65%, 15% 100%, 0% 50%);
  clip-path: polygon(15% 0, 15% 35%, 100% 35%, 100% 65%, 15% 65%, 15% 100%, 0% 50%);
}

#right_arrow{
  background: #000000;
  -webkit-clip-path: polygon(0 35%, 85% 35%, 85% 0, 100% 50%, 85% 100%, 85% 65%, 0 65%);
  clip-path: polygon(0 35%, 85% 35%, 85% 0, 100% 50%, 85% 100%, 85% 65%, 0 65%);
}

#left_down_arrow{
  background: #000000;
  -webkit-clip-path: polygon(20% 85%, 10% 100%, 0 85%, 5% 85%, 5% 0, 100% 0, 100% 10%, 15% 10%, 15% 85%);
  clip-path: polygon(20% 85%, 10% 100%, 0 85%, 5% 85%, 5% 0, 100% 0, 100% 10%, 15% 10%, 15% 85%);
}

#right_down_arrow{
  background: #000000;
  -webkit-clip-path: polygon(85% 10%, 0 10%, 0 0, 95% 0, 95% 85%, 100% 85%, 90% 100%, 80% 85%, 85% 85%);
  clip-path: polygon(85% 10%, 0 10%, 0 0, 95% 0, 95% 85%, 100% 85%, 90% 100%, 80% 85%, 85% 85%);
}

#left_up_arrow{
  background: #000000;
  -webkit-clip-path: polygon(10% 0, 20% 10%, 15% 10%, 15% 90%, 100% 90%, 100% 100%, 5% 100%, 5% 10%, 0 10%);
  clip-path: polygon(10% 0, 20% 10%, 15% 10%, 15% 90%, 100% 90%, 100% 100%, 5% 100%, 5% 10%, 0 10%);
}
#right_up_arrow{
  background: #000000;
  -webkit-clip-path: polygon(85% 10%, 80% 10%, 90% 0, 100% 10%, 95% 10%, 95% 100%, 0 100%, 0 90%, 85% 89%);
  clip-path: polygon(85% 10%, 80% 10%, 90% 0, 100% 10%, 95% 10%, 95% 100%, 0 100%, 0 90%, 85% 89%);
}
