<ion-header>
</ion-header>

<ion-toolbar color="secondary">
  <button menuToggle="right" style="background-color: #333;" >
    <img style="width: 36px; height: 36px; margin-left: 0;" src="./assets/icon/menu.png"/>
  </button> &nbsp;
  <img style="width: 36px; height: 36px;" src="./assets/icon/chap_logo.png"/> &nbsp;
  <input type="text" id="fileName" placeholder="Untitled Sketch" value="{{fileName}}">
</ion-toolbar>

<ion-content>
    
  <div class="wrapper">
    <div id="workspace">
        <div id="s_start_stop" class="draggable" style="font-size: 10pt;">START</div>
        <div (click)="openModal($event)" class="branch-link dropzone" ></div>
        <div id="s_start_stop" class="draggable" style="font-size: 10pt;">STOP</div>
    </div>

    <div class="sidebar">
        <div class="sideview">
          <div class="symbols-div">
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let s of symbols">
                        <ion-card padding >
                          <p>{{s.text}}</p>
                          <div id="{{s.id}}" class="draggable" draggable="true" contenteditable="true" ondragstart="startDrag" ondragend="endDrag"></div>
                          </ion-card>
                    </ion-col>
                  </ion-row>
              </ion-grid>

            </div>
            
        </div>
        
        <div class="tabs">
          <!-- <ion-segment><a routerLink="/symbols" routerLinkActive="active-link">Symbols</a></ion-segment>
          <ion-segment><a routerLink="/variables" routerLinkActive="active-link">Variables</a></ion-segment>
          <ion-segment><a routerLink="/console" routerLinkActive="active-link">Console</a></ion-segment> -->
            <div><a>Symbols</a></div>
            <div><a>Variables</a></div>
            <div><a>Console</a></div>
        </div>
      </div>
  </div>
</ion-content>
