<ion-toolbar style="padding: 5px; " color="primary">
  <ion-icon name="information-circle" slot="start" style="width: 24px; height: 24px;"></ion-icon>
  <ion-title>Getting Started with CHAP</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" color="secondary" style="float: right;">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content color="secondary">

  <ion-slides id="tutorSlides" [options]="slideOpts" scrollbar="true">
    <ion-slide>
      <ion-card style="padding: 0px 15px;" color="light">
        <ion-card-title class="card-body" style="--background-color: #f4f5f8;">
          <p class="card-text">
            Opening the list of Symbols
          </p>
        </ion-card-title>
        <ion-card-content>
          <ion-img src="./assets/tutorials/OpenMenu_gif.gif"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="padding: 0px 15px;" color="light">
        <ion-card-title class="card-body" style="--background-color: #f4f5f8;">
          <p class="card-text">
            Double Tap on Symbol to open the Symbol's Properties
          </p>
        </ion-card-title>
        <ion-card-content>
          <ion-img src="./assets/tutorials/DoubleTap_gif.gif"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card style="padding: 0px 15px;" color="light">
        <ion-card-title class="card-body" style="--background-color: #f4f5f8;">
          <p class="card-text">
            Drag and Drop Symbols onto an Arrow to add a Symbol
          </p>
        </ion-card-title>
        <ion-card-content>
          <ion-img src="./assets/tutorials/Drag&Drop_gif.gif"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer id="tutor_modal_footer" color="primary">
  <ion-button (click)="prevSlide()" color="dark" full style="float: left;"> &lt; Previous </ion-button>
  <ion-button (click)="nextSlide()" color="dark" full style="float: right;"> Next &gt; </ion-button>
</ion-footer>