


  <ion-toolbar   style="padding: 5px;"   color="primary" >
    <ion-icon name="create" slot="start" style="width: 24px; height: 24px;"></ion-icon>
    <ion-title>Getting Started with CHAP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="secondary" style="float: right;">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-content color="secondary" style="width: 100%; height: 100%;">
  
    <ion-slides id="tutorSlides" style="width: 100%; height: 100%;" [options]="slideOpts" scrollbar="true">
      <ion-slide>
        <ion-card style="width: 100%; height: 100%;" color="light">
          <ion-card-title class="card-body" style="--background-color: #f4f5f8;">
            <p class="card-text">
              Opening the list of Symbols  <b>Step: 1/3</b>
            </p>
          </ion-card-title>
          <ion-card-content>
            <ion-img src="./assets/tutorials/open_menuV1.gif" style="width: fit-content; height: 100%;" ></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card style="width: 100%; height: 100%;" color="light">
          <ion-card-title class="card-body" style="--background-color: #f4f5f8; ">
            <p class="card-text">
              Drag and Drop Symbols onto an Arrow to add a Symbol <b>Step: 2/3</b> 
            </p>
          </ion-card-title>
          <ion-card-content>
            <ion-img src="./assets/tutorials/drag_drop.gif" style="width: fit-content; height: 100%;" ></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="padding: 0px 15px; " color="light">
          <ion-card-title class="card-body" style="--background-color: #f4f5f8; ">
            <p class="card-text">
              Double Tap on Symbol to open the Symbol's Properties <b>Step: 3/3</b>
            </p>
          </ion-card-title>
          <ion-card-content tyle="width: 100%; height: 100%;" >
            <ion-img src="./assets/tutorials/process.gif" style="width: fit-content; height: 100%;"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
  </ion-content>
  
  <ion-footer id="tutor_modal_footer" color="primary" >
    <ion-button (click)="prevSlide()" color="dark" full style="float: left;"> &lt; Previous </ion-button>
    <ion-button (click)="nextSlide()" color="dark" full style="float: right;"> Next &gt; </ion-button>
  </ion-footer> 





 
