<ion-content >
  <div class="scroller">
  <ion-header class="header">
    
      <ion-label class="title">Symbol List </ion-label>
    
  </ion-header>
 
  <ion-grid id="operPop"   >
    <ion-card *ngFor="let s of symbols" id="fabSymbols" no-shadow >
      <div id="{{s.id}}" class="symbol s_tooltip {{s.id}}" (click)="selectSymbolToAdd(s.id)"
        [style.backgroundColor]="setColor(s.id)">
        {{s.s_name}}
      </div>
    </ion-card>
  </ion-grid>

  <ion-footer class="footer">
    <ion-button color="danger"  expand="block" (click)="closePopup()">
      <ion-icon name="close" ></ion-icon> Close
    </ion-button>
  </ion-footer>
</div>
</ion-content>